#respon
    padding:50px
    .box
        position: relative
        .minibox
            font-size: 30px
            color: #ffffffff
            width: 120px
            height: 120px
            background-color: #c258bc
            padding: 10px
            margin: 5px

        .res
            position: absolute
            top: 360px
            left: 350px
        